{% extends "login/base.html" %}
{% block content %}
    <style>
    h6{
        color: #5f788a;
        font-family: Calibri;
        font-size:25px;
        background: transparent;
    }
    </style>
    <h6><u>About Digital Election System</u></h6>
    <p>This system is developed by <a href="#"> Arbind Mehta </a>and <a href="#">Achyut Burlakoti</a> , the students of Purwanchal Campus (Batch:BCT-075)
        Dharan, Sunsari, Nepal.</p>
    <p>The main aim of this project is to simplify the election process of the country and to reduce the paper work during the same process. Spoilt vote is
    major problem of the country. This project can reduce or eliminate such issue because this project uses clickable option rather than traditional stamps.
    Each citizen having unique id number is eligible for creating an account. One can create account either online or by visiting related office. After creating
    an account one can print their confirmation page for future use. Once the date of election is announced by <a href="#">Election Commission Nepal</a> , then you can vote
    your candidate from the specified voting booth. Make sure that your profile is approved before the election held. You can visit related office if your
    profile is not approved within few days or weeks. You will not be eligible to vote if your profile is not approved. </p>
    <p>Once the election is conducted, the result can be published within a day because this project no longer uses the traditional way of counting vote.
     This project apply special computer program to count vote with single click. The only time consuming process is to collect databases from all the provinces.</p>
    <p>During this process if you encounter any error regarding your profile or have any confusion then feel free to contact your VDC/Municipality office.</p>
    <h7>Note:</h7>
    <p>This project is only for experimental purpose. For now you can use any dummy data to test this project. </p>
{% endblock %}